# More intelligent up/down behavior
autoload -U up-line-or-beginning-search
autoload -U down-line-or-beginning-search
zle -N up-line-or-beginning-search
zle -N down-line-or-beginning-search
bindkey "^[[A" up-line-or-beginning-search
bindkey "^[[B" down-line-or-beginning-search

# List all matches in case of multiple possibilities
set show-all-if-ambiguous on

# Add traling slash when autocompleting symlinks to directories
set mark-symlinked-directories on

# Show extra file information when completing
set visible-stats on

# Allow UTF-8 input and output
set input-meta on
set output-meta on
set convert-meta off
